.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.success {
  color: #006400;
}

.error {
  color: red;
}

.warning {
  color: gold;
}

.header {
  padding: 10px 0;
}

.header > a {
  margin-right: 15px;
}

a.href {
  text-decoration: underline;
  cursor: pointer;
}